header {
  background-color: #284557;
  color: white;
  padding: 0;
  position: fixed;
  width: 65%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: margin-left 0.3s ease-in-out;
  height: 60px;
}

.cabecalho2 {
  background-color: #284557;
  position: fixed;
  width: 35%;
  top: 0;
  left: 65%;
  z-index: 5;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.conteudo-cabecalho2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
}

.icone {
  font-size: 20px;
  color: rgb(177, 177, 177);
  cursor: pointer;
  margin-left: 15px;
  transition: color 0.3s ease;
  position: relative;
}

.icone:last-child {
  margin-right: 0;
}

.icone:hover {
  color: white;
}

.icone::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  font-size: 12px;
}

.icone:hover::after {
  opacity: 1;
}

.notification-dot {
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -3px;
}

.pulsating {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.conteudo-cabecalho {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.toggle-menu {
  color: #b8b5b5;
  cursor: pointer;
  font-size: 24px;
  z-index: 11;
  transition: 0.5s;
  margin-right: 15px;
}

.toggle-menu:hover {
  color: white;
}

.barra-busca {
  flex: 1;
  max-width: 500px;
  padding: 0 10px;
}

.barra-busca input {
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: #284557;
  color: rgb(212, 212, 212);
  font-family: "Hind Vadodara", sans-serif;
}

.barra-busca input::placeholder {
  color: #b3b0b0;
  opacity: 1;
  font-weight: 500;
  font-size: 15px;
}

.barra-busca input:focus {
  outline: none;
}

.caixa-notificacoes {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 280px; 
  background-color: white;
  color: #333;
  border-radius: 8px; 
  border: 1px solid #ddd; 
  padding: 8px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
  z-index: 1000;
  margin-right: 25px;
  opacity: 0;
  transform: translateY(-15px); 
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.caixa-notificacoes.ativa {
  opacity: 1;
  transform: translateY(0);
}

.notificacao-item {
  padding: 3px; 
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Helvetica Neue", sans-serif; 
  font-size: 13px; 
  color: #333;
  transition: background-color 0.5s ease;
  
}

.notificacao-item:hover {
  background-color: #f0f0f5; 
}

.notificacao-item:last-child {
  border-bottom: none;
}

.notificacao-item strong {
  font-weight: 500; 
}

.notification-dot {
  width: 8px; 
  height: 8px;
  background-color: #ff9500; 
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 10px;
}

.notification:hover {
  color: white;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.swinging {
  animation: swing 1s ease-in-out;
  transform-origin: top center; 
}

