
.header-section {
  background-color: #284557;
  padding: 20px 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 90px;
  margin-left: -50px;
  z-index: 10;
}

.main-title {
  font-family:'Jost', -apple-system, sans-serif;;
  font-size: 23px;
  font-weight: 500;
  margin: 0;
  text-shadow: none; 
  border: none; 
}

.breadcrumb {
  font-size: 16px;
  color: #dee2e6;
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-shadow: none; 
  border: none; 
}

.breadcrumb span {
  margin-right: 5px;
}

.breadcrumb-last {
  color: #ffffff;
}

main.main-content {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 70px;
  transform: translateX(0);
  opacity: 1;
  
 
}

main.main-content.reduced-margin {
  transform: translateX(-25px); 
  opacity: 0.8; 
}

#usuario {
  color: #284557;
  font-weight: 500;
  margin-top: -10px;
  margin-right: 0px;
}

#cargo {
  margin: 0;
  margin-left: 0px;
  color: #284557;
  font-size: 15px;
  
}

#webpack-dev-server-client-overlay{
  display: none !important;
}