body {
    font-family: 'Jost', -apple-system, sans-serif;
    font-size: 15px;
    color: #3E4676;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container-novo-ticket {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.info-basicas-duas-colunas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.coluna-esquerda, .coluna-direita {
    width: 48%;
    background-color: #fff;
    margin-right: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Estilos aplicados diretamente às classes do Select */
.css-1014xh8-control,  .css-3iigni-container {
    border-color: #ddd;
}

.css-1014xh8-control {
    border-color: #ddd !important; 
    transition: border-color 0.3s ease-in-out;
}

.css-1014xh8-control:focus-within {
    border-color: #007aff !important; 
}


#abertura{
    border: 1px solid #ddd; 
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-size: 14px;
}


#nome-completo,
#email,
#matricula,
#cargo-form,
#area-negocio,
#descricao,
#observacao {
    border: 1px solid #ddd; 
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#nome-completo:focus,
#email:focus,
#matricula:focus,
#cargo-form:focus,
#area-negocio:focus,
#descricao:focus,
#observacao:focus {
    border-color: #007aff; 
    box-shadow: 0 0 0 2px rgba(0, 122, 255, 0.2); 
    outline: none; 
}

.info-basicas h2, .detalhes-ticket h2 {
    margin-top: 0;
    font-weight: 300;
    text-align: left;
}

#cargo{
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario .campo {
    margin-bottom: 15px;
}

.formulario label {
    display: block;
    font-weight: 300;
    margin-bottom: 5px;
}

.formulario .campo-upload input {
     border: none;
    padding: 0;
}

.botao-enviar {
    background-color: #0881cc;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-weight: 300;
    margin-left: auto;
}

.botao-enviar:hover {
    background-color: #214e92;
}

.campo-obrigatorio {
    color: #00c3ff;
    font-size: 16px;
}

.campo-leitura {
    background-color: #f9f9f9;
    cursor: not-allowed;
    color: #6c757d;
    border: 1px solid #ddd;
}

#cargo {
    margin: 5px;
}

#descricao {
    height: 100px;
}

#observacao {
    height: 70px;
}

.mensagem-sucesso {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
